/**************************/
/* SERVICES SECTION */
/**************************/


.services-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin: 6rem 0; */
}

.card {
  width: 24%;
  text-align: center;
  padding: 0 2rem;
}

.card-icon {
  font-size: 7.4rem;
  margin: 8rem 0 2rem 0;
  color: #000000;
  /* color: #3a3a3c; */
}

.card-title {
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 8rem;
}